{% extends 'basefile.html' %}
{% load static %}
{% block content %}
        <div class="page-title page-title-inner padding-bottom9">
            <div class="overlay-page-tile"></div>
            <div class="page-title-content">
                <div class="container">
                    <div class="blog-title color-white">
                    <h2>Contact</h2>
                    <span><a href="index.html" class="hv-color-st1 color-white"> Home </a>Contact</span>
                    </div>
                </div>
            </div>
        </div><!-- Page-title -->

        <section class="tf-contact-us">
            <div class="container">
                <div class="row">
                    <div class="themesflat-spacer  clearfix" data-desktop="125" data-mobile="60" data-smobile="50" ></div>    
                    <div class="title-section text-center wow fadeInDown">
                        <div class="sub-title">Contact Us</div>
                        <div class="flat-title flat-title-style5">Get In Touch</div>
                    </div>
                    <div class="themesflat-spacer  clearfix" data-desktop="46" data-mobile="30" data-smobile="20" ></div>    
                    <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="contact-us-style flex clearfix">
                            <li class="location-icon"><span><i class="icon-iconadrees"></i></span></li>
                            <li class="content-style">
                                <h6 class="tftitle-style3">Our Address</h6>
                                <p>Unit A, Compass Street, Openshaw, Manchester, M11 2FS</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="contact-us-style flex clearfix">
                            <li class="location-icon location-icon-style2"><span><i class="icon-iconbtnphone"></i></span></li>
                            <li class="content-style content-contact-us">
                                <h6 class="tftitle-style3">Our Phone</h6>
                                <p>Telephone: +44 01612209955
                                    <br>FAX: +44 01612209966</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <ul class="contact-us-style flex clearfix">
                            <li class="location-icon location-icon-style3"><span><i class="icon-iconmailcontact"></i></span></li>
                            <li class="content-style">
                                <h6 class="tftitle-style3">Our Email</h6>
                                <p>newlifewindows@live.co.uk
                                    newlifepanels@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="themesflat-spacer  clearfix" data-desktop="125" data-mobile="60" data-smobile="50" ></div>  
        </section>

        <div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d86077.66255184308!2d-122.40402224079803!3d47.60810999586645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906ab3f905c4b1%3A0x96bf575ff75ab1aa!2s411%20University%20St%2C%20Seattle%2C%20WA%2098101%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1584084043716!5m2!1svi!2s" height="600" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>

        <section class="questions questions-location">
            <div class="themesflat-spacer  clearfix" data-desktop="200" data-mobile="60" data-smobile="50" ></div>  
            <!-- container -->
            <div class="container">
                <div class="questions-style questions-contact questions-style2">
                    <!-- Image -->
                    <div class="content-form bg-color wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="title-section">
                            <div class="sub-title">Get in touch</div>
                            <div class="flat-title flat-title-contact">
                                Write Us a Message
                            </div> 
                            <p class="color-white">Need more information? We would love to hear from you so please do get in touch.
                                    Please fill out the simple form, or call us on the number below and we’ll get back to you as quickly as we can.</p>
                        </div>
                        <div class="topbar-socials">
                            <a href="https://www.facebook.com/New-Life-Windows-106383301005971/?view_public_for=106383301005971"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/Newlifewindows1"><i class="fab fa-twitter"></i></a>
{#                            <a href="#"><i class="icon-Icons"></i></a>#}
                            <a href="https://www.instagram.com/newlifewindows/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- /Image -->
                    <!-- form-questions -->
                    <div  class="form-questions boxshadow bg-white wow fadeInRight  animated" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div id="respond" class="comment-respond">
                        <form action="#" method="post"  id="commentform" class="commentform">
                            <div class="text-wrap clearfix">
                                <fieldset class="name-wrap">
                                <input type="text"  id="author" class="tb-my-input" name="author" tabindex="1" placeholder="Full Name" value="" size="32" aria-required="true" />
                                </fieldset>
                                <fieldset class="phone-wrap">
                                <input type="number" id="phone" class="tb-my-input" name="phone" tabindex="2" placeholder="Phone Number" value="" aria-required="true" />
                                </fieldset>
                                <fieldset class="mail-wrap">
                                <input type="email" id="email"  class="tb-my-input"  name="phone" tabindex="2" placeholder="Email Address" value="" size="32"  aria-required="true"/>
                                </fieldset>
            
                                <fieldset class="select-wrap">
                                <select>
                                    <option value="services">Subject</option>
                                    <option value="services1">Subject 01</option>
                                    <option value="services2">Subject 02</option>
                                </select>
                                </fieldset>
                            </div>
                            <fieldset class="message-wrap">
                                <textarea  id="comment-message" name="comment"  rows="8" tabindex="4" placeholder="Your Message" aria-required="true"></textarea>
                            </fieldset>
                            <p class="form-submit">
                                <button type="submit" class="themesflat-button-style3 btn-style-5 no-boder">
                                <span class="btn-title">Send message</span>
                                </button>
                            </p>
                        </form>
                    </div>
                    <!-- #respond -->
                    </div>
                    <!-- /form-questions -->
                </div>
              <!-- /container -->
            </div>
            <div class="themesflat-spacer  clearfix" data-desktop="100" data-mobile="60" data-smobile="50" ></div>  
        </section>

{% endblock %}